body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(315deg, #ffcb3cc2 0%, #c2118ddc 100%);
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.timer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: relative;
  border: none;
  font-size: 70px;
  width: 5ch;
  text-align: center;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 auto;
  background-color: transparent;
}
.counter:focus {
  border: none;
  outline: none;
}

.panel-wrapper {
  min-width: 300px;
  height: max-content;
  background: white;
  border-radius: 50px 50px 0px 0px;
  box-sizing: border-box;
  max-width: 700px;
  position: relative;
  max-height: 60%;
}

.control-button {
  position: absolute;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(315deg, #e923626b 0%, #e92362c6 100%);
  width: 80px;
  height: 80px;
  color: white;
  font-weight: 700;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}

.panel-wrapper > p {
  text-align: center;
  color: #bfbfbf;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 55px 0px 0px 0px;
  font-size: 17px;
}

.panel-info {
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 30px 30px 0px 30px;
  max-height: 500px;
  display: flex;
  flex-direction: column-reverse;
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 30px;
  position: relative;
  width: 500px;
}

.notification::before {
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 30px;
  background-image: linear-gradient(315deg, #e923626b 0%, #e92362c6 100%);
  position: absolute;
  left: 0;
  top: 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4rem;
  font-size: 14px;
  color: #636363;
}
.notification button {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(315deg, #e923626b 0%, #e92362c6 100%);
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.notification-time-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #bfbfbf;
  font-weight: 500;
  margin-top: 5px;
}

.time-start {
  align-content: center;
}

.time-spend {
  color: #e9236281;
  font-weight: 600;
  background-color: #bfbfbf25;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

.notification-info-title {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.notification-info {
  text-align: left;
  width: 100%;
  color: #bfbfbf;
  margin-top: 10px;
}
